

<div class="container">
	<div>
    <h1>Explore the Trails</h1>

</div>
<!--Location box----------------------------------------->
	<div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="Search for...">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Go!</button>
      </span>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
	
		
<!-- custom content/ result----------------------------------->
	<!-- left sidebar----------------------------------->
	<div class="col-md-8 col-sm-8">
		<div ng-controller="TabsDemoCtrl">
			<tabset justified="true">
			<tab heading="List View">		
				<a href="#/view5" class="list-group-item">
							<img class="pull-left" src="img/index.svg" alt="...">

							<h4 class="list-group-item-heading">Trail #1</h4>
							<p class="list-group-item-text"><small>Distance</small></p>
							<p class="list-group-item-text"><small>Length</small></p>
							<i class="fa fa-chevron-right pull-right"></i>
							<i class="fa fa-info-circle pull-right"></i>
							<i class="fa fa-info-circle pull-right"></i>
							<i class="fa fa-info-circle pull-right"></i>
							<i class="fa fa-info-circle pull-right"></i>
				</a></tab>
			<tab heading="Map View">Long Labeled Justified content</tab>
		  </tabset>
		</div>
	</div>
	<!-- rigth sidebar----------------------------------->
	<div class="col-md-4 col-sm-4">
		<div ng-controller="AccordionDemoCtrl">
		  <p>
			<button class="btn btn-default btn-sm" ng-click="status.open = !status.open">Toggle last panel</button>
			<button class="btn btn-default btn-sm" ng-click="status.isFirstDisabled = ! status.isFirstDisabled">Enable / Disable first panel</button>
		  </p>

		  <label class="checkbox">
			<input type="checkbox" ng-model="oneAtATime">
			Open only one at a time
		  </label>
		  <accordion close-others="oneAtATime">
			<accordion-group heading="Static Header, initially expanded" is-open="status.isFirstOpen" is-disabled="status.isFirstDisabled">
			  This content is straight in the template.
			</accordion-group>
			<accordion-group heading="{{group.title}}" ng-repeat="group in groups">
			  {{group.content}}
			</accordion-group>
			<accordion-group heading="Dynamic Body Content">
			  <p>The body of the accordion group grows to fit the contents</p>
				<button class="btn btn-default btn-sm" ng-click="addItem()">Add Item</button>
				<div ng-repeat="item in items">{{item}}</div>
			</accordion-group>
			<accordion-group is-open="status.open">
				<accordion-heading>
					I can have markup, too! <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
				</accordion-heading>
				This is just some content to illustrate fancy headings.
			</accordion-group>
		  </accordion>
		</div>
	</div>
	
<!-- pagination----------------------------------->
<div ng-controller="PaginationDemoCtrl">
    <h4>Default</h4>
    <pagination total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</div>
</div><!--./container----------------------------------------->
